<% title "Primrose Creek Amenities Users" %>

<table>
  <tr>
    <th>Card Holder Name</th>
    <th>Address</th>
    <th>Card ID (printed on card)</th>
  </tr>
  <% for rfiduser in @rfidusers %>
    <tr>
      <td><%= rfiduser.name %></td>
      <td><%= rfiduser.address %></td>
      <td><%= rfiduser.cardid %></td>
      <td><%= link_to "Show", rfiduser %></td>
      <td><%= link_to "#{rfiduser.activated==0 ? "Activate" : "Deactivate"}", toggle_url(:id => rfiduser.id) %></td>
      <td><%= link_to "Delete", rfiduser %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_rfiduser_path %></p>
