<%- count=0 %>
<%title "Primrose Creek Amenities Users" %>
<div class="search">
  <%= form_tag search_url, :method => :get do -%>
    Name Search:
    <%= text_field_tag "name" %>
  <%- end -%>
</div>
<p>
<% if @total %>
  <h2>User Stats:</h2>
    <table>
      <tr>
        <th>Total number</th>
        <th>Total active</th>
        <th>Total inactive</th>
      </tr>  
      <tr>
        <td><%= @total %>
        <td><%= @total-@deactive %>
        <td><%= @deactive %>
      </tr>
    </table>
    <p>

    <div>
      Show Only:  
        <%= link_to "Deactivated", "?activated=0" %> |
        <%= link_to "Activated", "?activated=1" %>
    </div>
    <p>
<% end %>
<p><%= link_to "reload full page", rfidusers_url %></p>
<p><%= link_to "New User", new_rfiduser_path %></p>
<table>
  <tr>
    <th></th>
    <th>Card Holder Name</th>
    <th>Address</th>
    <th>Card ID (internal to card)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% if @rfidusers %>
    <% for rfiduser in @rfidusers %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= count+=1 %></td>
        <td><%= rfiduser.name %></td>
        <td><%= rfiduser.address %></td>
        <td><%= rfiduser.cardid %></td>
        <td><%= link_to "Show", rfiduser %></td>
        <td><%= link_to "#{(rfiduser.activated.nil? or rfiduser.activated==0) ? "Activate" : "Deactivate"}", toggle_url(:id => rfiduser.id) %></td>
        <td><%= link_to "Delete", rfiduser %></td>
      </tr>
    <% end %>
  <% else %>
    <tr><td colspan='7'>no results found</td></tr>  
  <% end %>
</table>  
<p><%= link_to "New User", new_rfiduser_path %></p>